
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bu benim ilk mvc web sitem</title>
</head>
<body>
    <div> 

    bu bir mvc web sitesidir.


    </div>
</body>
</html>
